site_name: dbt i NAV
site_url: https://navikt.github.io/dbt-i-nav/
repo_url: https://github.com/navikt/dbt-i-nav
edit_uri: edit/main/docs/

nav:
  - Introduksjon til dbt: 'index.md'
  - Oracle:
    - Installasjon på VDI:
        - 'Installasjon-på-VDI/installere.md'
        - Forutsetninger:
            - Installasjon-på-VDI/python.md
            - Installasjon-på-VDI/pip-og-oppsett.md
            - Installasjon-på-VDI/git.md

        - Tips og triks:
            - Installasjon-på-VDI/miljovariabler.md
        - feilsoking/feilsoking.md
    - dbt i Knast:
        - dbt i Knast/Hva-er-Knast.md
        - dbt i Knast/kjøre-regler.md
        - dbt i Knast/SQL-developer.md
        - dbt i Knast/installer-python-pakker.md
        - dbt i Knast/dbt-power-user.md
        - dbt i Knast/KSM-brukerguide.md
        - dbt i Knast/Github-i-Knast.md
        - dbt i Knast/dbt-deps.md
  - Arkitektur:
      - arkitektur/materialisering.md
      - arkitektur/materialisering_spenn.md
      - arkitektur/style_guide.md
  - Dokumentasjon:
      - dokumentasjon/index.md
      - dokumentasjon/dokumentasjon.md
      - dokumentasjon/overview.md
  - Anbefalinger:
      - Installasjon-på-VDI/vscode.md
      - Installasjon-på-VDI/dbt-power-user.md
      - Installasjon-på-VDI/sqlfluff.md
  - Prosjekter som bruker dbt:
      - prosjekter/index.md
      - prosjekter/dvh_arb_cv.md
      - prosjekter/dvh_arb_permittering.md
      - prosjekter/dvh_arb_person.md
      - prosjekter/dvh_arb_styrke_ssb.md
      - prosjekter/dvh-sykefravar-dmx.md
      - prosjekter/nystol/vdl-regnskapsdata.md
      - prosjekter/bomlo-dbt.md
  - Arkiv:
      - Installasjon-på-VDI/dbt.md
  - Airflow:
      - airflow og dbt_run/airflow.md
      - airflow og dbt_run/dbt_operator.md
      - airflow og dbt_run/dbt_run.md

theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      primary: deep orange
      scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      primary: deep orange
      scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  features:
    - navigation.tracking
    - navigation.indexes
    - navigation.expand
    - toc.follow

markdown_extensions:
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - admonition
  - toc:
      permalink: true
      toc_depth: 2
  - pymdownx.superfences

plugins:
  - search
  - git-revision-date-localized
